<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add note</title>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
    <form action ="/notes/save" method="post">
        <div>
            <input type="text" name="noteText" placeholder="Digite sua nota">
        </div>
        <div>
            <input type="submit" placeholder="Cadastrar">
        </div>
    </form>
</body>
</html>